<div style=" background-color: #f8fafb; padding-top: 50px;" class="" >
 
 
    <div *ngIf="!AddressPage" class="row" style="background-color: #f8fafb; padding-top : 20px; padding-bottom: 200px;">
  
  
      <div class="col-lg-4 col-sm-12">
        <div class="container">
  
          <div class="signin">
  
  
            <div><span class=" red Segoe">Licnence Informations</span></div><br><br><br>
            <div class="stepper-wrapper">
                <div class="stepper-item completed">
                  <div class="step-counter">1</div>
                  <div class="step-name">Supplier</div>
                </div>
                <div class="stepper-item completed">
                  <div class="step-counter">2</div>
                  <div class="step-name">Represntative</div>
                </div>
                <div class="stepper-item active">
                  <div class="step-counter">3</div>
                  <div class="step-name">Licence</div>
                </div>
                <div class="stepper-item ">
                    <div class="step-counter">4</div>
                    <div class="step-name">Address</div>
                  </div>
              
              </div><br><br>
            <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  
              <!-- suppleir name -->
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('name')?.touched || myForm.get('name')?.dirty) && myForm.get('name')?.invalid">
                  Represntative Name is required.
                </mat-error>
                <mat-label>Licence Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>

              <!-- social Security Number  -->
                      <!-- Supplier buisnessType -->
            <mat-form-field>
                <mat-error
                *ngIf="(myForm.get('category')?.touched || myForm.get('category')?.dirty) && myForm.get('category')?.invalid">
                Category is required.
              </mat-error>
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  <mat-option value="type1">
                    type 1
                  </mat-option>
                  <mat-option value="type2">
                    type 2
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
        
              <!-- supplier category -->
        
              <br><br>
  
  
              <!-- position  -->
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('registrationNumber')?.touched || myForm.get('registrationNumber')?.dirty) && myForm.get('registrationNumber')?.invalid">
                  Registration Should be 10 caracters.
                </mat-error>
                <mat-label>Registration Number</mat-label>
                <input formControlName="registrationNumber" type="text" matInput>
              </mat-form-field><br>
  
              <!-- Supplier registrationDate -->
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('acquisitionDate')?.touched || myForm.get('acquisitionDate')?.dirty) && myForm.get('acquisitionDate')?.invalid">
                 Acquisition Date is required.
                </mat-error>
                <mat-label>Acquisition Date</mat-label>
                <input formControlName="acquisitionDate" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <br>
           <!-- Supplier registrationDate -->
            <mat-form-field>
                <mat-error
                *ngIf="(myForm.get('expirationDate')?.touched || myForm.get('expirationDate')?.dirty) && myForm.get('expirationDate')?.invalid">
                Expiration Date is required.
                </mat-error>
                <mat-label>Expiration Date</mat-label>
                <input formControlName="expirationDate" matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <br>
              <!-- phone taxId -->
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('issuingInstitutionName')?.touched || myForm.get('issuingInstitutionName')?.dirty) && myForm.get('issuingInstitutionName')?.invalid">
                  Issuing Institution Name is required.
                </mat-error>
                <mat-label>Issuing Institution Name</mat-label>
                <input formControlName="issuingInstitutionName" type="text" matInput>
              </mat-form-field><br>
  
                <br>
  
  
              <div style="text-align: center;">
                <button mat-button type="submit" class="login"   >NEXT </button>
                <br><br>
  
              </div>
            </form>
          </div>
        </div>
      </div>
     
  
  </div>

  <app-supplier-signup-address *ngIf="AddressPage" [basicInfo]="basicInfo"></app-supplier-signup-address>