<div class="topheader"><span>Welcome to Egovnez</span>
  <span class="right email ">egovnez@tunisie.tn</span>
  <span class="right ">{{date}}</span>
</div>

<div class="secNav">
  <div class="row align-items-start">
    <div class="col">
      <div class="logoTn">
        <a href=''><img src='https://i.postimg.cc/0Q8PJXKs/logo-ar.png' width="130px" height="50px" alt='logo-ar' /></a>
      </div>
    </div>
    <div class="col ">
      <div class="logo ">
        <a href=''><img src='https://i.postimg.cc/wxN38Z5W/logo.png' width="250px" height="60px" alt='logo' /></a>
      </div>
    </div>
    <div class="col">
      <div class="right">
        <a href=''><img src='https://i.postimg.cc/y83vKVdJ/pps-logo-fr.png' width="150px" height="50px"
            alt='pps-logo-fr' /></a>
      </div>
    </div>
  </div>
</div>



<div class="menu-bar">
  <div class="topnav padding20" id="myTopnav">


    <a *ngIf="!(loginStatus$ | async) as loginStatus" class="nav-link " aria-current="page" href="">Home</a>



    <a *ngIf="(loginStatus$ | async) as loginStatus" class="nav-link " routerLink="/tenders" aria-current="page"
      href="#">Consult tenders</a>


    <a *ngIf="(type$ |async)=='institute'" class="nav-link" routerLink="/add-tender">Add Tender</a>

    <a *ngIf="(type$ |async)=='supplier'" class="nav-link" routerLink="/supplier/{{userId}}/offers">My Offers</a>
    <a *ngIf="(type$ |async)=='institute'" class="nav-link" routerLink="/tenders/{{userId}}">My tenders</a>

    <a *ngIf="(type$ |async)=='supplier'" class="nav-link" routerLink="/supplier/{{userId}}">Profile</a>
    <a  *ngIf="(type$ |async)=='institute'" class="nav-link" routerLink="/institute/{{userId}}">Profile</a>
    <a  *ngIf="(type$ |async)=='citizen'" class="nav-link" routerLink="/citizen/{{userId}}">Profile</a>


    <a *ngIf="!(loginStatus$ | async) as loginStatus" class="nav-link" routerLink="/login">Institution Space</a>


    <a *ngIf="!(loginStatus$ | async) as loginStatus" class="nav-link" routerLink="/login">Supplier Space</a>


    <a *ngIf="!(loginStatus$ | async) as loginStatus" class="nav-link" routerLink="/login">Citizen Space</a>

    <a *ngIf="!(loginStatus$ | async) as loginStatus" class="nav-link" href="#">About</a>
    <a *ngIf="!(loginStatus$ | async) as loginStatus" class="nav-link" href="#">Contact us</a>

    <!-- <a  *ngIf="(type$ |async)=='institute'" class="nav-link" routerLink="/institute/{{userId}}/information">Information</a> -->


    <a style="float: right;" *ngIf="(type$ |async)=='institute'" class="nav-link" routerLink="/tenders/{{userId}}"></a>

    <a  *ngIf="(type$ |async)=='institute'"  (mouseover)='RemoveNotification()' class="nav-link dropdown " ><i class="fa fa-bell " aria-hidden="true"> </i><sup *ngIf="notificationsCount>0">{{notificationsCount}}</sup>

      <div  class="dropdown-content " >
        <div class="test" >
        <div class="sublink "    >
          
        <a  *ngFor="let message of messages"  routerLink="/offers/{{message.offerId}}"> A new offer from {{message.offer.supplier.supplierName}} </a>
        
        </div>
      </div>
    

      </div>
    </a>

    
    <a *ngIf="(type$ |async)=='citizen'" routerLink="/citizen/{{userId}}/information" class="nav-link  " ><i class="fa-solid fa-message"></i><sup *ngIf="notificationsMessageCount>0">{{notificationsMessageCount}}</sup>

      <div  class="dropdown-content " >
        <div class="test" >
        <div class="sublink "    >
          
        
        
        </div>
      </div>
    

      </div>
    </a>
    <a *ngIf="(type$ |async)=='institute'" routerLink="/institute/{{userId}}/information" class="nav-link  " > <i class="fa-solid fa-message"></i> <sup *ngIf="notificationsMessageCountInstitute>0">{{notificationsMessageCountInstitute}}</sup>

      <div  class="dropdown-content " >
        <div class="test" >
        <div class="sublink "    >
      
        </div>
      </div>
    

      </div>
    </a>
    <a class="nav-link" style="float: right;" *ngIf="!(loginStatus$ | async) as loginStatus"
      routerLink="login">Login</a>

    <a  class="nav-link dropdown"    *ngIf="(type$ |async)=='supplier'"  >Settings
      <div class="dropdown-content">
        <a class="sublink" routerLink="supplier/{{userId}}/edit">Edit Profile </a>
        <a class="sublink" href="#">Edit Password</a>
        <a class="sublink" (click)="logout()" *ngIf="loginStatus$ | async as loginStatus">
          Logout</a>

      </div>
    </a>

    <a  class="nav-link dropdown"    *ngIf="(type$ |async)=='citizen'"  >Settings
      <div class="dropdown-content">
        <a class="sublink" routerLink="citizen/{{userId}}/edit">Edit Profile </a>
        <a class="sublink" href="#">Edit Password</a>
        <a class="sublink" (click)="logout()" *ngIf="loginStatus$ | async as loginStatus">
          Logout</a>

      </div>
    </a>
    <a   class="nav-link dropdown" *ngIf="(type$ |async)=='institute'"  > <i
      class="fa-solid fa-user-vneck"></i>Settings

    <div class="dropdown-content">
      <a class="sublink" routerLink="institute/{{userId}}/edit">Edit Profile </a>
      <a class="sublink" href="#">Edit Password</a>
      <a class="sublink" (click)="logout()" *ngIf="loginStatus$ | async as loginStatus">
        Logout</a>

    </div>
  </a>

    <a href="javascript:void(0);" class="icon" (click)="toggle()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

</div>