<!-- <div class="messanger">
    <div class="wrapper">

        <div class="askTitles" >
            
           
      
            <div class="headerClass " *ngFor="let askInfo of askForInfos" (click)="showAskOffer(askInfo)">
              <div [ngStyle]="{backgroundColor: notifList.includes(askInfo.id.toString())  ? 'red' : ''} ">

                <div [ngStyle]="{backgroundColor: askInfo.askForInfoAnswer?.seen ||askInfo.askForInfoAnswer==null  ? '' : 'red'} ">
                <h3> {{askInfo.firstName}} {{askInfo.lastName}}</h3>
                <p>{{askInfo.information}}</p>
                </div>
                </div>
            </div>


        </div>
        
        <div class="askDetails" >


              
              <div *ngIf="shownAskInfo" class="container" (click)="removeAskInfoFromNotif(shownAskInfo.id.toString())">
      
              <div class="title"> <h1>{{shownAskInfo.firstName}} {{shownAskInfo.lastName}}</h1></div>    

              <div>
                  <span>Phone : {{shownAskInfo.phone}}</span>
              </div>
              <div>
                  <span>Fax : {{shownAskInfo.fax}}</span>
              </div>
              <div >
                  <span>Email : {{shownAskInfo.email}}</span>
              </div>

              <br><br><br>
              <div style="border: 3px solid black;">

              <p class="">{{shownAskInfo.information}}</p>
              </div>
              <br><br>
              
              <div  class="answer" *ngIf="shownAskInfo.askForInfoAnswer" style="border: 3px solid rgb(71, 56, 236);" >
              <p >{{shownAskInfo.askForInfoAnswer.message}}</p>
          
            </div>

              <mat-form-field   class="example-full-width" appearance="fill">
                  <mat-label>Leave an answer</mat-label>
                  <textarea [(ngModel)]='answer' matInput placeholder="Ex. It makes me feel..."></textarea>

                </mat-form-field>

                <button mat-button color="primary" (click)="answerCitizen()">Answer</button>

                
            </div>
        </div>
    
            
    </div>
</div>


 -->

 
<div class="containers">

    <div class="content">

    <div class="left chatGroup  ">
        <div style="background-color: white ;" class="header">
            <mat-form-field style="margin-left: 20px">
                <mat-label class="lable">    <i class="fa-solid fa-magnifying-glass"> </i> <span class="search"> Search </span>
                </mat-label>
                <input matInput >
              </mat-form-field>
           </div>
        <div class="sidebar-item " *ngFor="let askInfo of askForInfos" (click)="showAskOffer(askInfo)">
            <div  [ngStyle]="{backgroundColor: notifList.includes(askInfo.id.toString())  ? 'red' : ''} ">
                <div [ngStyle]="{backgroundColor: askInfo.seen  ? '' : 'red'} ">
            <div class="chat">
                <div class="sender">
                    <h2> {{askInfo.firstName}} {{askInfo.lastName}} <span style="float: right;"  class="time">12:58</span></h2>
        
        
                </div>
            
        </div></div>
            </div>
            
            <hr>
        </div>
    
  
        <div class="sidebar-item">
        
            <div class="chat">
                <div class="sender">
                    <h2>Akrem Hammami <span class="time">12:58</span></h2>
        
        
                </div>
       
        
            </div>
           
        </div>
        <hr>
        
        <div class="sidebar-item">
        
            <div class="chat">
                <div class="sender">
                    <h2>Akrem Hammami <span class="time">12:58</span></h2>
        
        
                </div>
           
        
            </div>
         
        </div>

        <hr>
        <div class="sidebar-item">
        
            <div class="chat">
                <div class="sender">
                    <h2>Akrem Hammami <span class="time">12:58</span></h2>
        
        
                </div>
           
        
            </div>
        
        </div>

        <hr>
        <div class="sidebar-item">
        
            <div class="chat">
                <div class="sender">
                    <h2>Akrem Hammami <span class="time">12:58</span></h2>
        
        
                </div>
                <div class="briefContent">
                    a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popu
                </div>
        
            </div>
        
        </div>
     
    </div>
    <div  (click)="removeAskInfoFromNotif(shownAskInfo.id.toString())" *ngIf="shownAskInfo" class="container" class="right message">
        <div class="header mid" >
            {{shownAskInfo.firstName}} {{shownAskInfo.lastName}}<br><span style="font-size: 15px">17/08/2022</span>
        </div>
        <div class="sidebar-item">
            <div class="messageContent" style="background-color: white;"> {{shownAskInfo.information}}<br>   </div>
      <span class="time"> 11:24 am</span>


    <br>
    <div *ngIf="shownAskInfo.askForInfoAnswer" >
    <div class="messageAnswer">{{shownAskInfo.askForInfoAnswer.message}}</div>
    <br>  <br> 
    <span class="time floatRight" > 13:40 pm</span>
</div>
</div>

    </div>
    
</div>

</div>

<!-- Bsh nbadel notification ki yji answer juste verify al attribute seen fl answer -->