.signin{
    margin-top: 90%;

    margin: 50px;
    width:100% !important

}
.wrapper {
    margin: auto;
    width: 70%;
    background-color: #f8fafb;

}
.paddingtop50{
    padding-top: 50px !important;
}
.stepper-wrapper{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 15px;
}

.wrp {
    background-color: #f8fafb;
}
.mat-form-field{
    width:100% !important;
 }
 .login {
     background-color: #C1282A;
     width: 100%;
     color: white;
     height: 71px;
     font-family: 'Sitka Small';
     font-weight: 500;
   
 }
.loginTitle{
    font-size: 30px;
}

.signin{

    padding-right: 150px;
}
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .login:disabled{
    
        background-color: #ff9284;
    
}
 @media screen and (max-width:	720px) {
   .col-md-7{
    display:none

   }
   .signin{
    padding-right: 40px;

   }

  
  }
  a {
    color: #C1282A;
    text-decoration: none;
  }
  @media screen and (max-width:	720px) {
   .col-md-7{
    display:none

   }
   .signin{
    padding-right: 40px;

   }

  
  }
  