<div class="wrapper">

    <div class="grid">
     
  
      <div class="padding6">
        <div><span class="loginTitle grey Segoe">Reset password</span></div>
  
        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <mat-form-field>
                <mat-label>Old password</mat-label>
                <input autocomplete="false" formControlName="oldPassword" type="password" matInput>
              </mat-form-field><br><br>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input autocomplete="false" formControlName="password" type="password" matInput>
              </mat-form-field><br><br>
              <mat-form-field >
                <mat-label>Password</mat-label>
                <input autocomplete="false" formControlName="passwordConfirmation" type="password" matInput>
              </mat-form-field><br><br>
          
          <div style="text-align: center;">
            <button type="submit" class="login">Reset password</button>
            <br><br>
          </div>


        </form>
      </div>
    </div>