.signin{
    margin-top: 90%;

    margin: 50px;
    width:100% !important

}
.form {
    margin: auto;
    width: 70%;
}
.wrapper {
padding: 60px;
background-color: #f8fafb;

}
.grid{
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 20px;
}
.mat-form-field{
    width:100% !important;
 }
 .login {
     background-color: #C1282A;
     width: 100%;
     color: white;
     height: 71px;
     font-family: 'Sitka Small';
     font-weight: 500;
   
 }
.loginTitle{
    font-size: 30px;
}

.signin{

    padding-right: 150px;
}
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .login:disabled{
    
        background-color: #ff9284;
    
}
 @media screen and (max-width:	720px) {
   .col-md-7{
    display:none

   }
   .signin{
    padding-right: 40px;

   }

  
  }
  .paddingtop50{
    padding-top: 50px !important;
}
  a {
    color: #C1282A;
    text-decoration: none;
  }
  .red{
    color: #C1282A !important;


  }
  @media  (max-width:	850px) {
  
.grid{
    grid-template-columns: 1fr;
    gap: 0px;
    
}
   }


  
  
  