.grid{
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 20px;
}
.wrapper{
    padding: 60px;
    background-color: #f8fafb;
}
.mat-form-field{
    width:100% !important;
 }
 .form{
   
     margin: auto;
     width: 70%;
 }
 .login {
    background-color: #C1282A;
    width: 100%;
    color: white;
    height: 71px;
    font-family: 'Sitka Small';
    font-weight: 500;
  
}
.login:disabled{
    
    background-color: #ff9284;

}

a {
    color: #C1282A;
    text-decoration: none;
  }
@media (max-width:953px) {
    
    .form{
   
        margin: auto;
        width: 100%;
    }
}
@media (max-width:720px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}