<div class="" *ngIf="type==''">
  <div class="row" style="background-color: #f8fafb; padding-top : 100px; padding-bottom: 200px;">
    <div class="col-lg-7 col-sm-0" style="padding-top: 50px;">
      <div class="center imagelogin">
        <a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/L6T1yxWZ/logologin.png'
            width="100%" height="380" alt='logologin' /></a>
      </div>
    </div>

    <div class="col-lg-5 col-sm-12">
      <div class="container">

        <div class="signin">


          <div><span class="loginTitle grey Segoe">SIGN UP</span></div><br>

          <form autocomplete="autocomplete=" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <mat-error *ngIf="emailExists">
              Email Already exists,Please <span class="red"> <a routerLink="/login"> Login </a></span>
            </mat-error>
            <br>
            <mat-form-field>
              <mat-error
                *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
                Please provide a correct Email.
              </mat-error>
              <mat-label>Email</mat-label>
              <input formControlName="email" autocomplete="autocomplete=" type="email" matInput>

            </mat-form-field>

            <br><br>
            <mat-form-field>
              <mat-error>{{ errorMessage }}</mat-error>

              <mat-label>Password</mat-label>
              <input formControlName="password" type="password" matInput>
            </mat-form-field><br>
            <mat-form-field>
              <mat-error
                *ngIf="(myForm.get('passwordc')?.touched || myForm.get('passwordc')?.dirty) && myForm.get('passwordc')?.invalid">
                Password didn't match
              </mat-error>
              <mat-label>Repeat Password</mat-label>
              <input formControlName="passwordc" type="password" matInput>
            </mat-form-field><br>

            <mat-form-field>
              <mat-error
                *ngIf="myForm.get('type')?.invalid && (myForm.get('type')?.dirty || myForm.get('type')?.touched)">
                Please provide a type.
              </mat-error>
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="citizen">Citizen</mat-option>
                <mat-option value="institute">Public Institute</mat-option>
                <mat-option value="supplier">Supplier</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <br>
            <div style="text-align: center;">
              <button mat-button [disabled]="myForm.invalid" type="submit" class="login">Sign Up </button>
              <br><br>
              <div class="Segoe twenty"><span>You have an account? </span> <span class="red"> <a
                    routerLink="/login">Login</a></span></div><br>

            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>

<app-citizen-signup *ngIf="type=='citizen'" [user]="user"></app-citizen-signup>
<app-supplier-signup   *ngIf="type=='supplier'"[user]="user" ></app-supplier-signup>
<app-institute-signup  *ngIf="type=='institute'"[user]="user" ></app-institute-signup>