<div style=" background-color: #f8fafb; padding-top: 50px;"  >
 
  
    <div class="row"   *ngIf="!specificationPage"  style="background-color: #f8fafb; padding-top : 20px; padding-bottom: 200px;">
  
  
      <div class="col-lg-12 col-sm-12">
        <div class="container">
  
          <div class="signin">
  
  
            <div><span class=" red Segoe">Address Informations</span></div><br><br><br>
            <div class="stepper-wrapper">
                <div class="stepper-item completed">
                  <div class="step-counter">1</div>
                  <div class="step-name">Supplier</div>
                </div>
                <div class="stepper-item completed ">
                  <div class="step-counter">2</div>
                  <div class="step-name"> Responsible</div>
                </div>
                <div class="stepper-item completed">
                  <div class="step-counter">3</div>
                  <div class="step-name">Classifications</div>
                </div>
                <div class="stepper-item active">
                    <div class="step-counter">4</div>
                    <div class="step-name">Address</div>
                  </div>
                  <div class="stepper-item ">
                    <div class="step-counter">5</div>
                    <div class="step-name">Specifications</div>
                  </div>
              </div><br><br>
            <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
              <mat-error style="font-size: 18px">(*) The field is required</mat-error><br>

    
  
              <!-- position  -->
                      <!-- Supplier buisnessType -->
                      <mat-form-field>
                        <mat-error
                        *ngIf="(myForm.get('city')?.touched || myForm.get('city')?.dirty) && myForm.get('city')?.invalid">
                        City is required.
                      </mat-error>
                        <mat-label>City</mat-label>
                        <mat-select formControlName="city">
                          <mat-option value="Tunis">
                            Tunis
                          </mat-option>
                          <mat-option value="Ariana">
                            Ariana
                          </mat-option>
                          <mat-option value="Ben Arous">
                            Ben Arous
                          </mat-option>
                          <mat-option value="Manouba">
                            Manouba
                          </mat-option>
                          <mat-option value="Nabeul">
                            Nabeul
                          </mat-option>
                          <mat-option value="Zaghouan">
                            Zaghouan
                          </mat-option>
                          <mat-option value="Bizerte">
                            Bizerte
                          </mat-option>
                          <mat-option value="Beja">
                            Beja
                          </mat-option>
                          <mat-option value="Jendouba">
                            Jendouba
                          </mat-option>
                          <mat-option value="Kef">
                            Kef
                          </mat-option>
                          <mat-option value="Siliana">
                            Siliana
                          </mat-option>
                          <mat-option value="Sousse">
                            Sousse
                          </mat-option>
                          <mat-option value="Monastir">
                            Monastir
                          </mat-option>
                          <mat-option value="Mahdia">
                            Mahdia
                          </mat-option>
                          <mat-option value="Sfax">
                            Sfax
                          </mat-option>  <mat-option value="Kairouan">
                            Kairouan
                          </mat-option>  <mat-option value="Kasserine">
                            Kasserine
                          </mat-option>  <mat-option value="Sidi Bouzid">
                            Sidi Bouzid
                          </mat-option>
                          <mat-option value="Gabes">
                            Gabes
                          </mat-option>
                          <mat-option value="Mednine">
                            Mednine
                          </mat-option>
                          <mat-option value="Tataouine">
                            Tataouine
                          </mat-option>
                          <mat-option value="Gafsa">
                            Gafsa
                          </mat-option>
                          <mat-option value="Tozeur">
                            Tozeur
                          </mat-option>
                          <mat-option value="Kebili">
                            Kebili
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
          
         <!-- suppleir name -->
         <mat-form-field>
            <mat-error
              *ngIf="(myForm.get('postalCode')?.touched || myForm.get('postalCode')?.dirty) && myForm.get('postalCode')?.invalid">
              Postal Code Name is required.
            </mat-error>
            <mat-label>Postal Code</mat-label>
            <input matInput formControlName="postalCode" type="text" >
          </mat-form-field>

          <br>

              <!-- phone taxId -->
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('street1')?.touched || myForm.get('street1')?.dirty) && myForm.get('street1')?.invalid">
                  Street1 Name is required.
                </mat-error>
                <mat-label>Street </mat-label>
                <input formControlName="street1" type="text" matInput>
              </mat-form-field>
  
                <br>
       
              <div style="text-align: center;">
                <button mat-button type="submit" class="login"  [disabled]="myForm.invalid" >SUBMIT </button>
                <br><br>
  
              </div>
            </form>
          </div>
        </div>
      </div>
     
  
  </div>
  <app-add-tender-specifications   *ngIf="specificationPage" [basicInfo]="basicInfo"></app-add-tender-specifications>
