.signin{
    margin-top: 90%;

    margin: 50px;
    width:100% !important

}
.mat-form-field{
    width:100% !important;
 }
 .login {
     background-color: #C1282A;
     width: 100%;
     color: white;
     height: 71px;
     font-family: 'Sitka Small';
     font-weight: 500;
   
 }
.loginTitle{
    font-size: 30px;
}

.signin{

    padding-right: 150px;
}
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .login:disabled{
    
        background-color: #ff9284;
    
}
 @media screen and (max-width:	720px) {
   .col-md-7{
    display:none

   }
   .signin{
    padding-right: 40px;

   }

  
  }
  a {
    color: #C1282A;
    text-decoration: none;
  }
  @media screen and (max-width:	720px) {
   .col-md-7{
    display:none

   }
   .signin{
    padding-right: 40px;

   }

  
  }
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 
 .uploader {
	
	 width: 100%;
	
}
 .uploader label {
	 float: left;
	 clear: both;
	 width: 100%;
	 padding: 2rem 1.5rem;
	 text-align: center;
	 background: #fff;
	 border-radius: 7px;
	 border: 3px solid #eee;
	 transition: all 0.2s ease;
	 user-select: none;
}
 .uploader label:hover {
	 border-color: #C1282A;
}
 .uploader label.hover {
	 border: 3px solid #C1282A;
	 box-shadow: inset 0 0 0 6px #eee;
}
 .uploader label.hover #start i.fa {
	 transform: scale(0.8);
	 opacity: 0.3;
}
 .uploader #start {
	 float: left;
	 clear: both;
	 width: 100%;
}
 .uploader #start.hidden {
	 display: none;
}
 .uploader #start i.fa {
	 font-size: 50px;
	 margin-bottom: 1rem;
	 transition: all 0.2s ease-in-out;
}
 .uploader #response {
	 float: left;
	 clear: both;
	 width: 100%;
}
 .uploader #response.hidden {
	 display: none;
}
 .uploader #response #messages {
	 margin-bottom: 0.5rem;
}
 .uploader #file-image {
	 display: inline;
	 margin: 0 auto 0.5rem auto;
	 width: auto;
	 height: auto;
	 max-width: 180px;
}
 .uploader #file-image.hidden {
	 display: none;
}
 .uploader #notimage {
	 display: block;
	 float: left;
	 clear: both;
	 width: 100%;
}
 .uploader #notimage.hidden {
	 display: none;
}
 .uploader progress, .uploader .progress {
	 display: inline;
	 clear: both;
	 margin: 0 auto;
	 width: 100%;
	 max-width: 180px;
	 height: 8px;
	 border: 0;
	 border-radius: 4px;
	 background-color: #eee;
	 overflow: hidden;
}
 .uploader .progress[value]::-webkit-progress-bar {
	 border-radius: 4px;
	 background-color: #eee;
}
 .uploader .progress[value]::-webkit-progress-value {
	 background: linear-gradient(to right, #C1282A 0%, #b8292c 50%);
	 border-radius: 4px;
}
 .uploader .progress[value]::-moz-progress-bar {
	 background: linear-gradient(to right, #C1282A 0%, #b3292c 50%);
	 border-radius: 4px;
}
 .uploader input[type="file"] {
	 display: none;
}
 .uploader div {
	 margin: 0 0 0.5rem 0;
	 color: #5f6982;
}
 .uploader .btn {
	 display: inline-block;
	 margin: 0.5rem 0.5rem 1rem 0.5rem;
	 clear: both;
	 font-family: inherit;
	 font-weight: 700;
	 font-size: 14px;
	 text-decoration: none;
	 text-transform: initial;
	 border: none;
	 border-radius: 0.2rem;
	 outline: none;
	 padding: 0 1rem;
	 height: 36px;
	 line-height: 36px;
	 color: #fff;
	 transition: all 0.2s ease-in-out;
	 box-sizing: border-box;
	 background: #C1282A;
	 border-color: #C1282A ;
	 cursor: pointer;
}
 
.signin{
    margin-top: 90%;

    margin: 50px;
    width:100% !important

}
.mat-form-field{
    width:100% !important;
 }
 .login {
     background-color: #C1282A;
     width: 100%;
     color: white;
     height: 71px;
     font-family: 'Sitka Small';
     font-weight: 500;
   
 }
.loginTitle{
    font-size: 30px;
}

.signin{

    padding-right: 150px;
}
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .login:disabled{
    
        background-color: #ff9284;
    
}
 @media screen and (max-width:	720px) {
   .col-md-7{
    display:none

   }
   .signin{
    padding-right: 40px;

   }

  
  }
  a {
    color: #C1282A;
    text-decoration: none;
  }
  @media screen and (max-width:	720px) {
   .col-md-7{
    display:none

   }
   .signin{
    padding-right: 40px;

   }

  
  }
  
  

  .list ul {
    list-style: none;
    list-style-type: none;
    padding-left: 0em;
    text-indent: 0em;
  }
  .list ul > li {
    color: black;
    border: 1px solid rgba(0,0,0,0.25);
    margin: 10px;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0 rgba(0,0,0,0.2), 
      inset 0 -1px 0 rgba(240, 235, 235, 0.25), 
      inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255,255,255,.5);

  }
  .list ul > li .cancel {
    float:right;
    margin-right: 5px;
    color: rgb(255, 0, 0);
    font-size:  36px !important;
  }

  .list ul > li .cancel:hover {
    float:right;
    margin-right: 5px;
    color: rgb(165, 49, 49);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.35);
  }

  .wrapper{
    margin: auto;
    width: 80%;

    }
    .form{
      padding: 30px;
    }
    

    .wrp{
      background-color: #f8fafc;

    }
    h1 {
        position: relative;
        padding: 0;
        margin: 0;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 40px;
        color: #080808;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
      }
      
      h1 span {
        display: block;
        font-size: 0.5em;
        line-height: 1.3;
      }
      h1 em {
        font-style: normal;
        font-weight: 600;
      }
      
      .one{
          padding-top: 50px;
          padding-bottom: 90px;

      }
      /* === HEADING STYLE #1 === */
      .one h1 {
          
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5px;
        line-height: 100%;
      }
      .one h1:before {
        width: 28px;
        height: 5px;
        display: block;
        content: "";
        position: absolute;
        bottom: 3px;
        left: 50%;
        margin-left: -14px;
        background-color: #b80000;
      }
      .one h1:after {
        width: 100px;
        height: 1px;
        display: block;
        content: "";
        position: relative;
        margin-top: 25px;
        left: 50%;
        margin-left: -50px;
        background-color: #b80000;
      }
    
      .divider{
        display: grid;
        grid-template-columns: 6Fr 6Fr;
        gap: 40px;
      }
      