<div class="wrp">
    <div class="wrapper">
        <div class="one">
            <h1>Edit Institute Informations</h1>
        </div>
        <div class="form "  *ngIf="myForm">

            <div><span class=" red Segoe">Institute Information</span></div><br><br><br>

            <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="updateInsitute(myForm)">
                <div class="divider">
                    <div>
                        <!-- suppleir name -->
                        <mat-form-field>
                            <!-- <mat-error
                                *ngIf="(myForm.get('supplierName')?.touched || myForm.get('supplierName')?.dirty) && myForm.get('supplierName')?.invalid">
                                supplierName Name is required.
                            </mat-error> -->
                            <mat-label>Supplier Name : </mat-label>
                            <input matInput formControlName="nameFr">
                        </mat-form-field>

                        <!-- social Security Number  -->

                        <mat-form-field>
                          
                            <mat-label>Company Name</mat-label>
                            <input matInput formControlName="nameAr">
                        </mat-form-field>
                        <mat-form-field>
                           
                            <mat-label>Type Of Institute</mat-label>
                            <input matInput formControlName="typeOfInstitute">
                        </mat-form-field>
                        <mat-form-field>
                          
                            <mat-label>Registration Number :</mat-label>
                            <input matInput formControlName="areaType">
                        </mat-form-field>
                


                    </div>

                    <div>
                        <mat-form-field>
                           
                            <mat-label>Registration Date :</mat-label>
                            <input matInput formControlName="representativeName">
                        </mat-form-field>
                        <mat-form-field>
                           
                            <mat-label>Tax Number :</mat-label>
                            <input matInput formControlName="notificationEmail">
                        </mat-form-field>
                   


                        <mat-form-field>
                          
                            <mat-label>Buisness Classification :</mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                        <mat-form-field>
                           
                            <mat-label>Buisness Type :</mat-label>
                            <input matInput formControlName="fax">
                        </mat-form-field>

                       
                    </div>
                </div>
                <div class="buttons">
                    <button mat-button >Update</button>
                </div>
            </form>

        </div>

        <div class="form " *ngIf="addressForm">

            <div><span class=" red Segoe">Address Information</span></div><br><br><br>

            <form autocomplete="off" [formGroup]="addressForm" (ngSubmit)="updateAddress(addressForm)">
                    <div>
                        <!-- suppleir name -->
                        <mat-form-field>
                            
                            <mat-label>Supplier Name : </mat-label>
                            <input matInput formControlName="postalCode">
                        </mat-form-field>

                        <!-- social Security Number  -->

                        <mat-form-field>
                           
                            <mat-label>Postal Code</mat-label>
                            <input matInput formControlName="city">
                        </mat-form-field>
                        <mat-form-field>
                         
                            <mat-label>Category</mat-label>
                            <input matInput formControlName="street1">
                        </mat-form-field>
                       
                    </div>
                    <div class="buttons">
                        <button mat-button >Update</button>
                    </div>
            </form>
            
        </div>
        


        <div class="form "  *ngIf="representativeForm">

            <div><span class=" red Segoe">Interlocutor Information</span></div><br><br><br>

            <form autocomplete="off" [formGroup]="representativeForm" (ngSubmit)="updateRepresentative(representativeForm)">
                    <div>
                        <!-- suppleir name -->
                        <mat-form-field>
                          
                            <mat-label>Supplier Name : </mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>

                        <!-- social Security Number  -->

                        <mat-form-field>
                            
                            <mat-label>Postal Code</mat-label>
                            <input matInput formControlName="position">
                        </mat-form-field>
                        <mat-form-field>
                           
                            <mat-label>Category</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                        <mat-form-field>
                           
                            <mat-label>Category</mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                        <mat-form-field>
                            
                            <mat-label>Category</mat-label>
                            <input matInput formControlName="socialSecurityNumber">
                        </mat-form-field>
                        <mat-form-field>
                          
                            <mat-label>Category</mat-label>
                            <input matInput formControlName="socialSecurityNumberDate">
                        </mat-form-field>
                    </div>
                    <div class="buttons">
                        <button mat-button >Update</button>
                    </div> 
            </form>
         
        </div>

    </div>
</div>