
    <br>
    <div style="margin: 20px;"> <form [formGroup]="filters" >
      <mat-form-field style="margin: 30px;">
          <mat-label >Search by bid number</mat-label>
          <input matInput formControlName="bidNumber">
        </mat-form-field>
      
        <mat-form-field style="margin: 30px;">
          <mat-label>Search by bid name</mat-label>
          <input matInput formControlName="bidName">
        </mat-form-field>
      
        <mat-form-field  style="margin: 30px;">
          <mat-label>City</mat-label>
          <mat-select formControlName="city">
            <mat-option value="">
              Any
            </mat-option>
            <mat-option value="Tunis">
              Tunis
            </mat-option>
            <mat-option value="Ariana">
              Ariana
            </mat-option>
            <mat-option value="Ben Arous">
              Ben Arous
            </mat-option>
            <mat-option value="Manouba">
              Manouba
            </mat-option>
            <mat-option value="Nabeul">
              Nabeul
            </mat-option>
            <mat-option value="Zaghouan">
              Zaghouan
            </mat-option>
            <mat-option value="Bizerte">
              Bizerte
            </mat-option>
            <mat-option value="Beja">
              Beja
            </mat-option>
            <mat-option value="Jendouba">
              Jendouba
            </mat-option>
            <mat-option value="Kef">
              Kef
            </mat-option>
            <mat-option value="Siliana">
              Siliana
            </mat-option>
            <mat-option value="Sousse">
              Sousse
            </mat-option>
            <mat-option value="Monastir">
              Monastir
            </mat-option>
            <mat-option value="Mahdia">
              Mahdia
            </mat-option>
            <mat-option value="Sfax">
              Sfax
            </mat-option>  <mat-option value="Kairouan">
              Kairouan
            </mat-option>  <mat-option value="Kasserine">
              Kasserine
            </mat-option>  <mat-option value="Sidi Bouzid">
              Sidi Bouzid
            </mat-option>
            <mat-option value="Gabes">
              Gabes
            </mat-option>
            <mat-option value="Mednine">
              Mednine
            </mat-option>
            <mat-option value="Tataouine">
              Tataouine
            </mat-option>
            <mat-option value="Gafsa">
              Gafsa
            </mat-option>
            <mat-option value="Tozeur">
              Tozeur
            </mat-option>
            <mat-option value="Kebili">
              Kebili
            </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="margin: 30px;">
          <mat-label>Deadline</mat-label>
          
          <input matInput [matDatepicker]="picker" formControlName="postDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker>    
          </mat-datepicker>
          <mat-datepicker-toggle matSuffix>  <mat-icon matDatepickerToggleIcon (click)="clearDate()">clear</mat-icon>
          </mat-datepicker-toggle>
        </mat-form-field>
       
      </form>
  <br>
<div class="table" >


  <table class="table" *ngIf="data.length>0" >
    <thead>
      <tr>
        <th scope="col">Bid number</th>
        <th scope="col">Institution</th>
        <th scope="col">Bid name</th>
        <th scope="col">Deadline</th>
        <th scope="col">Details</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tender of data ">
        <td data-label="Account">{{tender.id}}</td>
        <td data-label="Due Date">{{tender.institute.nameFr}}</td>
        <td data-label="Amount">{{tender.name}}</td>
        <td data-label="Period"> {{tender.deadLine}} </td>
        
       <td data-label="Period">
        <a class="mat-button" href="tender/{{tender.id}}">	<mat-icon>add</mat-icon>Details</a> 
    
        <a class="mat-button" href="tender/edit/{{tender.id}}"><mat-icon>edit</mat-icon> Edit</a>
    </td>

      </tr>

      
    
    </tbody>
    
  </table>
  </div>
  <mat-paginator [length]=totalRecords
              [pageSize]=itemPerPage
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              showFirstLastButtons
              (page)="onChangePage($event)">

</mat-paginator>
</div>