<div class="wrapper">
    <div class="grid ">

        <div>

            <div class="middle">
                <div class="header">
                    <span>Hello and welcome to the</span>
                </div>
                <span class="part1">Egovnez Platform </span>
                <span class="part2">is </span>
                <span class="part3">Goverment </span>
                <span class="part2">Eprocurement system </span>

            </div>
            <div class="signup">
                <a class="removeLinkDeco white" routerLink='/signup'><span>Signup</span></a>
            </div>
        </div>



        <div>

            <a href='/signup'><img width="100%" src='https://i.postimg.cc/bvp596zr/home.png' alt='home' /></a>
            <div class="center">

                <div class="signupimg">

                    <a class="removeLinkDeco white" routerLink='/signup'><span>Signup</span></a>
                </div>
            </div>
        </div>

    </div>