<div class="wrapper">

    <div class="grid">
     
  
      <div class="padding6">
        <div><span class="loginTitle grey Segoe">Reset password</span></div>
  
        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  
          <mat-error *ngIf="verifyEmail">
            Signup successfully , Please check your email to confirm
          </mat-error><br>
          <mat-error *ngIf="verifiedUser">
            Account not verified, please check your email
          </mat-error><br>
          <mat-error *ngIf="error">
            {{errorMessage}}
          </mat-error><br>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input autocomplete="false" formControlName="email" type="email" matInput>
          </mat-form-field><br><br>
          <mat-form-field *ngIf="codeVerification">
            <mat-label>Code</mat-label>
            <input autocomplete="false" formControlName="code" type="number" matInput>
          </mat-form-field><br><br>
          <div *ngIf="password">
          <mat-form-field >
            <mat-label>Password</mat-label>
            <input autocomplete="false" formControlName="password" type="password" matInput>
          </mat-form-field><br><br>
          <mat-form-field >
            <mat-label>PasswordConfirm</mat-label>
            <input autocomplete="false" formControlName="passwordConfirm" type="password" matInput>
          </mat-form-field><br><br>
          <br>
        </div>
          <div style="text-align: center;">
            <button type="submit" class="login">Reset password</button>
            <br><br>
        
  
          </div>
        </form>
      </div>
    </div>