
<div style=" background-color: #f8fafb; padding-top: 50px;" class=""  >

    <div *ngIf="!next"  class="row" style="background-color: #f8fafb; padding-top : 20px; padding-bottom: 200px;">
  
  
      <div class="col-lg-12 col-sm-12"  >
        <div class="container">
  
          <div class="signin">
  
            
            <div><span class=" red Segoe">Offer Informations</span></div><br><br><br>
     
            <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
              <mat-error style="font-size: 18px">(*) The field is required</mat-error><br>

              <!-- suppleir name -->
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('name')?.touched || myForm.get('name')?.dirty) && myForm.get('name')?.invalid">
                  Tender Name is required.
                </mat-error>
                <mat-label>Offer Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('name')?.touched || myForm.get('name')?.dirty) && myForm.get('name')?.invalid">
                  Tender Name is required.
                </mat-error>
                <mat-label>Representative Name</mat-label>
                <input matInput formControlName="representativeName" >
              </mat-form-field>
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('name')?.touched || myForm.get('name')?.dirty) && myForm.get('name')?.invalid">
                  Tender Name is required.
                </mat-error>
                <mat-label>Representative Cin Number</mat-label>
                <input matInput formControlName="socialSecurityNumber" >
              </mat-form-field>
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('name')?.touched || myForm.get('name')?.dirty) && myForm.get('name')?.invalid">
                  Tender Name is required.
                </mat-error>
                <mat-label>Representative Position</mat-label>
                <input matInput formControlName="position" >
              </mat-form-field>
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('name')?.touched || myForm.get('name')?.dirty) && myForm.get('name')?.invalid">
                  Tender Name is required.
                </mat-error>
                <mat-label> Representative Phone</mat-label>
                <input matInput formControlName="phone" >
              </mat-form-field>
              <mat-form-field>
                <mat-error
                  *ngIf="(myForm.get('name')?.touched || myForm.get('name')?.dirty) && myForm.get('name')?.invalid">
                  Tender Name is required.
                </mat-error>
                <mat-label>Representative Email</mat-label>
                <input matInput formControlName="email" >
              </mat-form-field>

              <!-- social Security Number  -->
       
      
              <br><br>
              <div class="three">
                <h1>Classifications</h1>

            </div>
            <div style="margin-top: 30px;" class="row" *ngIf="tenderClassification?.length>0">
                <div class="col-md-4" *ngFor="let classifciation of tenderClassification">

                    <div style="margin-bottom: 30px;">
                        <app-offer-classification-card (data)="addItem($event)" [id]="classifciation.id" [title]="classifciation.name" [subtitle]="classifciation.amount"
                            [actions]="classifciation.description"></app-offer-classification-card>
                    </div>

                </div>

          

            </div>
            
 
      <br>   <br>
    Total Amount : {{totalAmount}} TND<br>   <br>
 <mat-label>Financial</mat-label>
 <br>  
    <br>

    <input 
    name="fileUpload"
    id="file-upload"
    type="file" 
    
    class="form-control"
    formControlName="financial"
    (change)="onFileChange($event)"
    >
    <br>
    <mat-label>Technical</mat-label>
    
    <br>
    <br>
                                       
    <input 
    name="fileUpload"
    id="file-upload"
    type="file" 
    class="form-control"
    formControlName="technical"
    (change)="onFileChange($event)">   
    <br>
    <mat-label>Other</mat-label>
    <br>
    <br>

    <input 
    name="fileUpload"
    id="file-upload"
    type="file" 
    multiple
    class="form-control"
    formControlName="other"
    (change)="onFileChange($event)"
    >

             <br>
  
             
              <div style="text-align: center;">
                <button mat-button type="submit" class="login" [disabled]="myForm.invalid"  >NEXT </button>
                <br><br>
  
              </div>
            </form>
          </div>
        </div>
      </div>
     
  
  </div>
  
