<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" *ngIf="tender">
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="one">
                    <h1>Tender details</h1>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="three">
                        <h1>Tender Information</h1>

                    </div>

                    <div class="table-responsive">
                        <a mat-button style="float: right;" matTooltip="Edit" (click)="enableEditingTenderInfo()">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <form [formGroup]="TenderInfoForm" (ngSubmit)="saveTenderInfo(TenderInfoForm)">
                            <table class="table table-striped table-product">
                                <tbody>
                                    <tr>
                                        <td class="bold" width="400">Name : </td>
                                        <td *ngIf="!editFormTenderInfo">{{tender.name}}</td>

                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput formControlName="name">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Business Kind : </td>
                                        <td *ngIf="!editFormTenderInfo">{{tender.businessKind}}</td>
                                        <td *ngIf="editFormTenderInfo">

                                            <mat-form-field>
                                                <input matInput formControlName="businessKind">
                                            </mat-form-field>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="bold">Financing : </td>
                                        <td *ngIf="!editFormTenderInfo">{{tender.financing}}</td>
                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput formControlName="financing">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Budget : </td>

                                        <td *ngIf="!editFormTenderInfo">{{tender.budget}}</td>
                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput formControlName="budget">
                                            </mat-form-field>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="bold">Start Date : </td>

                                        <td *ngIf="!editFormTenderInfo">{{tender.startDate}}</td>
                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput formControlName="startDate" [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="bold">Deadline : </td>
                                        <td *ngIf="!editFormTenderInfo">{{tender.deadLine}}</td>
                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput formControlName="deadLine" [matDatepicker]="picker2">
                                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td class="bold">Evaluation Method : </td>
                                        <td *ngIf="!editFormTenderInfo">{{tender.evaluationMethod}}</td>
                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput formControlName="evaluationMethod">
                                            </mat-form-field>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="bold">Departement : </td>
                                        <td *ngIf="!editFormTenderInfo">{{tender.departement}}</td>
                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput formControlName="departement">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Country : </td>
                                        <td *ngIf="!editFormTenderInfo">{{tender.addressReceipt.countryName}}</td>
                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput value={{tender.addressReceipt.countryName}}>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">City : </td>
                                        <td *ngIf="!editFormTenderInfo">{{tender.addressReceipt.city}}</td>

                                        <td *ngIf="editFormTenderInfo">

                                            <mat-form-field>
                                                <input formControlName="city" matInput>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Postal Code : </td>
                                        <td *ngIf="!editFormTenderInfo">{{tender.addressReceipt.postalCode}}</td>

                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput formControlName="postalCode">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Street : </td>


                                        <td *ngIf="!editFormTenderInfo">{{tender.addressReceipt.street1}}</td>

                                        <td *ngIf="editFormTenderInfo">
                                            <mat-form-field>
                                                <input matInput formControlName="street1">
                                            </mat-form-field>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div *ngIf="editFormTenderInfo">
                                <button mat-button style="float: right;"
                                    (click)="editFormTenderInfo=false">Cancel</button>

                                <button type="submit" mat-button style="float: right;">Save</button>
                            </div>
                        </form>


                    </div>


                    <div class="three">
                        <h1>Representative </h1>
                    </div>

                    <div class="table-responsive">
                        <a mat-button style="float: right;" matTooltip="Edit" (click)="enableEditingRepresentative()">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <form [formGroup]="RepresentativeForm" (ngSubmit)="saveRepresentativeInfo(RepresentativeForm)">

                            <table class="table table-striped table-product">
                                <tbody>
                                    <tr>
                                        <td class="bold" width="400">Name</td>

                                        <td *ngIf="!editFormRepresentative">{{tender?.responsible?.name}}</td>
                                        <td *ngIf="editFormRepresentative">

                                            <mat-form-field>
                                                <input formControlName="name" matInput>
                                            </mat-form-field>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="bold">Social Security Number</td>
                                        <td *ngIf="!editFormRepresentative">
                                            {{tender?.responsible?.socialSecurityNumber}}</td>
                                        <td *ngIf="editFormRepresentative">
                                            <mat-form-field>
                                                <input (change)="checkSocial()" formControlName="socialSecurityNumber"
                                                    matInput>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Position</td>
                                        <td *ngIf="!editFormRepresentative">{{tender?.responsible?.position}}</td>
                                        <td *ngIf="editFormRepresentative">
                                            <mat-form-field>
                                                <input formControlName="position" matInput>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Social Security Number Date</td>
                                        <td *ngIf="!editFormRepresentative">
                                            {{tender?.responsible?.socialSecurityNumberDate}}</td>
                                        <td *ngIf="editFormRepresentative">
                                            <mat-form-field>
                                                <input formControlName="socialSecurityNumberDate" matInput>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Phone</td>
                                        <td *ngIf="!editFormRepresentative">{{tender?.responsible?.phone}}</td>
                                        <td *ngIf="editFormRepresentative">
                                            <mat-form-field>
                                                <input formControlName="phone" matInput>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Email</td>
                                        <td *ngIf="!editFormRepresentative">{{tender?.responsible?.email}}</td>
                                        <td *ngIf="editFormRepresentative">
                                            <mat-form-field>
                                                <input formControlName="email" matInput>
                                            </mat-form-field>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div *ngIf="editFormRepresentative">
                                <button mat-button style="float: right;" matTooltip="Cancel"
                                    (click)="editFormRepresentative=false">Cancel</button>

                                <button type="submit" matTooltip="Save" mat-button style="float: right;">Save</button>
                            </div>
                        </form>

                    </div>

                    <div class="three">
                        <h1>Institute </h1>
                    </div>
                    <br>
                    <div class="table-responsive">


                        <table class="table table-striped table-product">
                            <tbody>
                                <tr>
                                    <td class="bold" width="400">Name</td>
                                    <td>{{tender?.institute?.nameFr}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Type Of Institute</td>
                                    <td>{{tender?.institute?.typeOfInstitute}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Area Type</td>
                                    <td>{{tender?.institute?.areaType}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Representative Name</td>
                                    <td>{{tender?.institute?.representativeName}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Phone</td>
                                    <td>{{tender?.responsible?.phone}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Fax</td>
                                    <td>{{tender?.institute?.fax}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Email</td>
                                    <td>{{tender?.institute?.notificationEmail}}</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>


                    <div class="three">
                        <h1>Classifications</h1>

                    </div>
                    <div style="margin-top: 30px;" class="row" *ngIf="tenderClassification.length>0">
                        <div class="col-md-4" *ngFor="let classifciation of tenderClassification">
                            <div>
                                <a style="float: right; z-index: 99999999;" matTooltip="Edit" mat-button
                                    (click)="openDialog(classifciation)">
                                    <mat-icon>edit</mat-icon>
                                </a>
                            </div>
                            <div style="margin-bottom: 30px;">

                                <app-custom-card [title]="classifciation.name" [subtitle]="classifciation.amount"
                                    [actions]="classifciation.description"></app-custom-card>
                            </div>

                        </div>

                        <div class="mid">
                            <button mat-button mat-raised-button #tooltip="matTooltip"
                                matTooltip="See more classifications" (click)="loadMoreClassification()"
                                matTooltipHideDelay="250" style="width: 200px; margin-top: 60px;">See more</button>

                        </div>

                    </div>



                    <div class="three">
                        <h1>Specifications</h1>

                    </div>

                    <div style="margin-top: 30px;" class="table-responsive">
                        <mat-list>
                            <div mat-subheader>Specifications:</div>


                            <mat-list-item *ngFor="let specification of tender.specifications"
                                style="margin-bottom: 20px;">
                                <mat-icon (click)="downloadPDF(specification.id)" mat-list-icon>picture_as_pdf
                                </mat-icon>

                                <a (click)="downloadPDF(specification.id)">
                                    <div>
                                        <div mat-line>{{specification.fileName}}</div>
                                    </div>
                                    <div mat-line>{{niceBytes(specification.fileSize)}} </div>
                                </a>

                                <div class="floatRight">
                                    <a mat-button class="delete" matTooltip="Delete"
                                        (click)="deleteSpecification(specification.id)">
                                        <mat-icon>delete</mat-icon>
                                    </a>
                                </div>
                            </mat-list-item>
                            <div style="padding: 10px; ">

                                <label matTooltip="Add specification-" mat-button (click)="addSpecification"
                                    class="btn btn-default btn-file fileButton">
                                    <mat-icon>add</mat-icon>
                                    <input (change)="addSpecification($event)" type="file" style="display: none;">
                                </label>

                            </div>
                        </mat-list>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>