body{
    background-color: #edf1f5;
    margin-top:20px;
}
.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
mat-card-title, mat-card-subtitle{

    padding: 5px;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;  
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.limitTextHeight {
    height: 20px;
    overflow: hidden;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5!important;
    color: white !important;
}
.table-product td{
    font-family: "Raleway", sans-serif !important;

    border-top: 0px solid #dee2e6 !important;
    color: #373a3d!important;
}

.mid {
    text-align: center;
    }
.bold{
    font-weight: bold;
}
.table-responsive{
    margin-bottom: 70px;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  
  .one{
      margin-top: 50px;
      margin-bottom: 90px;
  }
  /* === HEADING STYLE #1 === */
  .one h1 {
      
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin: 20px;
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

  
/* === HEADING STYLE #3 === */
.three h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
   
  }
  .three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
    
    
  }
  .three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    max-width: 255px;
    background-color: #333;
 
  }
  .three{
    margin-top: 20px;
  }
  .floatRight{
  
    position: absolute;  
    right: 0;  
    top: 0;
  }
  .fileButton{
    background-color: #f1f1ee;
  }
  .fileButton:hover{
    background-color: #b80000 !important;
    color: white;
  }
  .delete{
    color: red;
  }